:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
 
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }
  /* Each item in our grid will contain numbers */
  .item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow); /* best colour */
  }
  
  .item p {
    margin: 0 0 5px 0;
  }

/* .wrapper{
    border: 10px dotted var(--yellow);
} */

#navbar{
    display: grid;
    min-height: 30px;
    grid-auto-flow: column;
}

#logo{
    display: grid;
    font-size: 30px;
    justify-content: start;
    align-content: center;
}

#links{
    display: grid;
    grid-auto-flow: column;
    font-size: 20px;
    grid-gap: 10px;
    justify-content: end;
    align-content: center;
}

a:link {
    color: darkolivegreen;
    text-decoration: none;
  }

  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: cadetblue;
  }

.top-bar{
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "tbl tbm tbr"
}

.top-bar-left{
    background-color:rgba(200,200,200,0.3);
    grid-area: tbl;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 150px;
    width: 240px;
}

.heading{
    grid-area: tbm;
    font-size: 50px;
    justify-self: center;
    align-self: end;
    display: grid;
    grid-template-rows: 1fr 70px;
}

#heading-text{
    font-size: 14px;
    justify-self: center;
    align-self: start;
}

.top-bar-right{
    background-color:rgba(200,200,200,0.3);
    grid-area: tbr;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 150px;
    width: 240px;
    justify-self: end;
}

.art{
    width: 100%;
}

.secondary-bar{
    display: grid;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    grid-template-areas: 
    "sl sm sr"
}

.side-bar-left{
    grid-area: sl;
    /* background-color: rgba(200,200,200,0.3); */
    font-size: 12px;
}

.side-bar-med{
    grid-area: sm;
    /* background-color: rgba(200,200,200,0.3); */
    font-size: 12px;
    justify-self: center;
}

.side-bar-right{
    grid-area: sr;
    font-size: 12px;
    justify-self: end;
}

.showcase{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    "sl sr"
    "em sr"
    "ft st"
}

.showcase-left{
    grid-area: sl;
    border-bottom: 2px solid black;
}

.showcase-left h1{
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.si{
    width: 100%;
}

.showcase p
{
    font-size: 15px;
}

.showcase-right{
    grid-area: sr;
    display: grid;
    /* grid-row: span 3; */
    /* grid-template-rows: 1fr 1fr; */ */
}

.showcase-right h2{
    font-size: 50px;
    text-transform: uppercase;
}

.emp-left{
    grid-area: em;
    /* border-bottom: 2px solid black; */
    padding: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-areas: 
    "eml1 emr1"
    "eml2 emr2"
    "eml3 eml3"
}

.emp5{
    border-top: 2px solid black;
}

.emp-left .art{
    width: 100px;
    height: 100px;
    opacity: .3;
}

#emp-mid{
    /* grid-column: span 2; */
    justify-self: center;
    align-self: center;
    font-size: 20px;
    text-transform: uppercase;
}

.lower-right{
    grid-area: st;
    border: black 3px solid;
    grid-row: 2 / auto;
    margin-top: 150px;/*to move the lower right section up in conjuction with grid-row*/
    padding: 45px;
}


.lower-right h2{
    font-size: 20px;
    text-transform: uppercase;
}

.emp5{
    grid-area: eml3;
}


@media(max-width: 915px){

    .top-bar{
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "tbm tgm"
        "tbl tbr"
    }
    
    
    .heading{
        grid-area: tbm;
        font-size: 20px;
        justify-self: center;
        align-self: end;
        display: grid;
        grid-template-rows: 1fr 70px;
    }
    
    #heading-text{
        font-size: 14px;
        justify-self: center;
        align-self: start;
    }
    
    .showcase{
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 
        "sl sl"
        "sr sr"
        "em em"
        "st st"
    }
    
    .showcase-left{
        grid-area: sl;
        border-bottom: 2px solid black;
    }
    
    .showcase-left h1{
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: -3px;
    }
    
    .si{
        width: 100%;
    }
    
    .showcase p
    {
        font-size: 15px;
    }
    
    .showcase-right{
        grid-area: sr;
        display: grid;
        /* grid-row: span 3; */
        /* grid-template-rows: 1fr 1fr; */ */
    }
    
    .showcase-right h2{
        font-size: 30px;
        text-transform: uppercase;
    }
    
    .emp-left{
        grid-area: em;
        /* border-bottom: 2px solid black; */
        padding: 20px;
        grid-gap: 20px;
        display: grid;
        grid-template-areas: 
        "eml1 emr1"
        "eml2 emr2"
        "eml3 eml3"
    }
    
    .emp5{
        border-top: 2px solid black;
    }
    
    .emp-left .art{
        width: 100px;
        height: 100px;
        opacity: .3;
    }
    
    #emp-mid{
        /* grid-column: span 2; */
        justify-self: center;
        align-self: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .lower-right{
        grid-area: st;
        border: black 3px solid;
        /* grid-column: 1 / auto;  */
        /* grid-row: 4/ auto; */
        /* grid-auto-flow:dense; */
        /* margin-top: 150px; */
        /*to move the lower right section up in conjuction with grid-row*/
        padding: 45px;
    }
    
    
    .lower-right h2{
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .emp5{
        grid-area: eml3;
    }

}

@media(max-width: 550px){

    .top-bar{
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "tbm"
        "tbl"
        "tbr"
    }
    
    
    .heading{
        grid-area: tbm;
        font-size: 20px;
        justify-self: center;
        align-self: end;
        display: grid;
        grid-template-rows: 1fr 70px;
    }
    
    .top-bar-right{
        background-color:rgba(200,200,200,0.3);
        grid-area: tbr;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
        padding: 10px;
        height: 150px;
        width: 240px;
        justify-self: start;
    }

    #heading-text{
        font-size: 14px;
        justify-self: center;
        align-self: start;
    }
    
    .showcase{
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 
        "sl sl"
        "sr sr"
        "em em"
        "st st"
    }
    
    .showcase-left{
        grid-area: sl;
        border-bottom: 2px solid black;
    }
    
    .showcase-left h1{
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: -3px;
    }
    
    .si{
        width: 100%;
    }
    
    .showcase p
    {
        font-size: 15px;
    }
    
    .showcase-right{
        grid-area: sr;
        display: grid;
        /* grid-row: span 3; */
        /* grid-template-rows: 1fr 1fr; */ */
    }
    
    .showcase-right h2{
        font-size: 30px;
        text-transform: uppercase;
    }
    
    .emp-left{
        grid-area: em;
        /* border-bottom: 2px solid black; */
        padding: 20px;
        grid-gap: 20px;
        display: grid;
        grid-template-areas: 
        "eml1 emr1"
        "eml2 emr2"
        "eml3 eml3"
    }
    
    .emp5{
        border-top: 2px solid black;
    }
    
    .emp-left .art{
        width: 100px;
        height: 100px;
        opacity: .3;
    }
    
    #emp-mid{
        /* grid-column: span 2; */
        justify-self: center;
        align-self: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .lower-right{
        grid-area: st;
        border: black 3px solid;
        grid-column: 1 / auto; 
        grid-row: 4/ auto;
        /* grid-auto-flow:dense; */
        /* margin-top: 150px; */
        /*to move the lower right section up in conjuction with grid-row*/
        padding: 45px;
    }
    
    
    .lower-right h2{
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .emp5{
        grid-area: eml3;
    }

}


@media(max-width: 450px){

    .top-bar{
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "tbm"
        "tbl"
        "tbr"
    }
    
    
    .heading{
        grid-area: tbm;
        font-size: 15px;
        justify-self: center;
        align-self: end;
        display: grid;
        grid-template-rows: 1fr 70px;
    }
    
    .top-bar-right{
        background-color:rgba(200,200,200,0.3);
        grid-area: tbr;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
        padding: 10px;
        height: 150px;
        width: 240px;
        justify-self: start;
    }

    #heading-text{
        font-size: 14px;
        justify-self: center;
        align-self: start;
    }
    
    .showcase{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "sl sl"
        "sr sr"
        "em em"
        "st st"
    }
    
    .showcase-left{
        grid-area: sl;
        border-bottom: 2px solid black;
    }
    
    .showcase-left h1{
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: -3px;
    }
    
    .si{
        width: 80%;
    }
    
    .showcase p
    {
        font-size: 15px;
    }
    
    .showcase-right{
        grid-area: sr;
        display: grid;
        /* grid-row: span 3; */
        /* grid-template-rows: 1fr 1fr; */ */
    }
    
    .showcase-right h2{
        font-size: 30px;
        text-transform: uppercase;
    }
    
    .emp-left{
        grid-area: em;
        /* border-bottom: 2px solid black; */
        padding: 20px;
        grid-gap: 20px;
        display: grid;
        grid-template-areas: 
        "eml1"
        "emr1"
        "eml2"
        "emr2"
        "eml3"

    }
    
    .emp5{
        border-top: 2px solid black;
    }
    
    .emp-left .art{
        width: 50px;
        height: 50px;
        opacity: .3;
    }
    
    #emp-mid{
        /* grid-column: span 2; */
        justify-self: center;
        align-self: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .lower-right{
        grid-area: st;
        border: black 3px solid;
        grid-column: 1 / auto; 
        grid-row: 4/ auto;
        /* grid-auto-flow:dense; */
        /* margin-top: 150px; */
        /*to move the lower right section up in conjuction with grid-row*/
        padding: 5px;
    }
    
    
    .lower-right h2{
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .emp5{
        grid-area: eml3;
    }

}