*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family: serif;
    margin: 10px;
    padding: 10px;
}

.title-txt{
    font-size: 15px;
}

img{
    display: grid;
    height: 100%;
    margin: auto;
    margin-left: 0%;
}

.imgbox{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    margin-left: 0%;
    margin-bottom: 10px;
}

.showcase-tag,
.medl-tag,
.medm-tag,
.medr-tag,
.low-tag{
    display: inline-block;
    color: white;
    padding: 3px;
    padding-right: 10px;
    font-size: 12px;
    font-style: italic;
    background: rgb(120,41,42);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    margin-bottom: 5px;
}


.title-txt >h1,
.txt-across,
.headings{
    margin-bottom: 10px;
}

.showcase-title,
.showcase-para1 > p,
.showcase-para2 >p,
.med-title,
.med-para,
.low-title,
.low-tag,
hr,
.low-para >p{
    margin-bottom: 10px;
}

.highlight{
    border-top: black 1px solid;
    border-bottom: 1px solid #000;
}

.medm-content > h2,
.highlight{
    text-align: center;
    color: rgb(120,41,42);
    padding: 20px;
}

.txt-across{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

.headings{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.head2{
    justify-self: end;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.foot2{
    justify-self: end;
}

@media(min-width:750px){
    
    .contain{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }

    .showcase-paras{
        padding: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .showcase-paras-left{
        columns: 2;
    }

    img{
        display: grid;
        height: 100%;
        margin: auto;
        margin-left: 0%;
    }
    
    .imgbox{
        max-width: 100%;
        max-height: 100vh; 
        margin: auto;
        margin-left: 0%;
        width: 100%;
        margin-bottom: 0px;
        object-fit: cover;
        padding-bottom: 15px;
    }

    .med-paras{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .med-title{
        padding-top: 10px;
    }

    .low-paras{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .highlight{
        text-align: center;
        font-weight: bold;
        color: rgb(120,41,42);
        padding: 20px;
        border-top: 1px solid #000;
        margin-bottom: 10px;
    }

    .medm-tag{
        margin-bottom: -10% ;
    }

    .med-imgl .imgbox{
        margin-top: -2%;
        height: 300px;
        width: 100%;
        max-width: 100%;
        max-height: 100vh; 
        margin: auto;
        margin-left: 0%;
        width: 100%;
        margin-bottom: 0px;
        object-fit: cover;
        padding-bottom: 15px;
    }

    .med-para{
        padding: 10px;
    }
}