body{
    background: rgb(51, 145, 161);
    margin:0px;
    padding:0px;
}


.head{
    font-size: 40px;
}

.wrapper{
    background: chartreuse;
}

.container{
display: grid;
grid-template-columns: repeat(4,100px);
background: cornflowerblue;
justify-content: center;
align-content: center

}


.display {
    grid-column: span 4;
    /* width: auto; */
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    justify-items: center;
}

#inpCurrentValue{
    size: 300;
}